body
{
	margin: 0;
	padding: 0;
	/*background-color: rgba(238, 238, 238, 0.2);*/
	background: linear-gradient(151deg, silver 20%, #eeeeee 51%, #ecf0f1 75%);
	overflow-y: scroll;
	overflow-x: hidden;	
}

.navbar
{
	z-index: 1;	
	/*background-color: rgba(255,255,255,1);*/	
	letter-spacing: 1.5px;
}

.navbar a:hover
{

}

.header
{
	/*background-image: url(image/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;	*/
	position: absolute;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;

}

.header-text
{
	margin: 0 auto;
	margin-top: 20%;	
	letter-spacing: 2px;	
}

.header-text p
{
	margin-left: 20%;
	margin-right: 20%;
	color: #eb974e;
	font-size: 2.3vh;
}


#divider
{
	width: 60%;
	background-color: white;	
}

.page-content
{
	/*color: white;
	background-image: url(image/relax.jpg);
	background-size: cover;
	background-repeat: no-repeat;*/
	position: absolute;
	top: 110%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}

.page-title
{
	margin-top: 15%;
}

.blockquote p
{
	font-style: italic;
	letter-spacing: 2px;
}

.blockquote-footer
{
	color: grey;
}

.moon
{
	margin-top: -50px; 
}

.cup
{
	margin-top: 15px;
}

@media screen and (max-width: 600px)
{
	
}
